.cardBox {
  width: 351px;
  height: 156px;

  background-color: var(--grey-1);
  border-radius: var(--radius-8);

  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cardBorderGreen {
  border-left: 4px solid var(--green-1);
}

.cardBorderGrey {
  border-left: 4px solid var(--grey-2);
}

.descriptionItem {
  font-family: var(--font-family);
  color: var(--grey-4);
  font-size: var(--font-size-3);
  font-weight: 700;
  line-height: 30px;
}

.categoryItem,
.valueItem {
  font-family: var(--font-family);
  color: var(--grey-3);
  font-size: var(--font-size-3);
  font-weight: 400;
  line-height: 22px;
}

.valueItem {
  color: var(--grey-4);
}

.btnRemove {
  width: 22px;
  height: 22px;

  background-color: var(--grey-2);
  border-radius: 2.46px;
  border: 2px solid var(--grey-2);
}

@media (min-width: 1000px) {
  .cardBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
  }

  .containerInformationCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 50%;
  }

  .containerValueAndBtnRemoveCard {
    display: flex;
    justify-content: space-between;
    height: 70%;
    width: 45%;
  }
}
