.headerPage {
  height: 10vh;
  min-width: 390px;

  background: #f8f9fa;
  box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.containerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 85%;
}

.btnHeader {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 0.875rem;

  background-color: var(--grey-2);
  border-radius: 8px;
  border: 2px solid var(--grey-2);
  color: var(--grey-4);
  padding: 10px;
}

@media (min-width: 1000px) {
  .headerPage {
    justify-content: center;
  }

  .containerHeader {
    width: 77%;
  }
}
